<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shop/layout}">
<head>
</head>
<body>

	<div layout:fragment="content">
		<div class="payout-list">
			<div class="card-deck two-cards">
				<div class="card" th:each="customer : ${customers}">
					<div class="card-header"
						th:text="${customer.firstname + ' ' +  customer.lastname}"></div>
					<div class="card-body">
						<div class="text-note"
							th:text="${customer.payouts.size() + ' Payouts'}"></div>
						<div class="text-note"
							th:text="${customer.calculatePayoutSum() + ' total payouts'}"></div>
					</div>

					<div class="card-body" th:if="${customer.paymentReferences}" th:each="ref : ${customer.paymentReferences}">

						<form  action="#"
							th:action="@{/payouts}" method="POST" novalidate>

							<input type="hidden" name="customerId" th:value="${customer.id}">
							<input type="hidden" name="paymentType"
								th:value="${ref.reference}">

							<div class="row">
								<div class="col-12 form-group">
									<h6 th:text="${ref.details}"></h6>
								</div>
							</div>
							<div class="row">
								<div class="col-12 form-group">
									<label for="amount">Payout amount</label> <input type="number"
										class="form-control" id="amount" name="amount"
										placeholder="Amount">
								</div>
							</div>
							<div class="row">
								<div class="col-12">

									<div class="field">
										<button id="payment-button-id"
											class="btn btn-primary btn-block" type="submit">Payout</button>
									</div>

								</div>
							</div>

						</form>

					</div>


					<div class="card-footer">
						<a class="btn btn-secondary"
							th:href="@{'payouts/' + ${customer.id} + '?noHeidelpayUi=true&serverSide=true'}">Payout
							no JS</a> <a class="btn btn-secondary"
							th:href="@{'payouts/' + ${customer.id} + '?noHeidelpayUi=true&serverSide=false'}">Payout
							Own JS</a> <a class="btn btn-secondary"
							th:href="@{'payouts/' + ${customer.id}}">Payout hdp JS</a>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>
</html>